@use '../abstracts' as *;

.container{ 
  width: 100%;
  max-width: 1291px;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

img{
  max-width: 100%;
  display: block;
}

button{
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

html{
  font-size: 62.5%;
}

body{
  overflow-x: hidden;
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
  background: linear-gradient(73.28deg, #000000 36.73%, #282828 100%) no-repeat;
}

a{
  text-decoration: none;
  display: inline-block;
}
li{
  list-style: none;
}

p{
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Sora', sans-serif;
  font-weight: $font_semibold;
}

h1{
  font-size: 5.9rem;
  line-height: 64px;
}
h2{
  font-size: 3.8rem;
  line-height: 48px;
}
h3{
  font-size: 3.4rem;
  line-height: 37px;
}
h4{
  font-size: 2.6rem;
  line-height: 33px;
}
h5{
  line-height: 30px;
  font-size: 2.4rem;
}
h6{
  line-height: 25px;
  font-size: 2rem;
}

.overflow-x{
  overflow-x: hidden;
}