@use "../abstracts" as *;

.hero{
  overflow-x: hidden !important;
  &__banner{
    margin-bottom: 40px;
    &--content{
      h1{
        width: 100%;
        color: $white;
        font-size: 3.4rem;
        line-height: 37px;
        padding-top: 53px;
      }
      p{
        width: 100%;
        max-width: 402px;
        padding: 35px 0 40px 0;
        color: $white;
        line-height: 22px;
      }
      .btn{
        display: block;
      }
    }
    &--image{
      width: 100%;
      max-width: 733px;
      position: relative;
      .banner-mob{
        padding-top: 62px;
        margin-left: 10px;
      }
    }
  }
  &__check{
    padding-top: 40px;
    .row > div{
      padding-bottom: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      & > div{
        margin-left: 23px;
      }
      img{
        margin-right: 12px;
      }
    }
    span{
      font-size: 2rem;
    }
  }

  @include responsive(atLarge){
    padding-top: 160px;
    &__banner{
      margin-bottom: 67px;
      &--content{
        h1{
          font-size: 5.9rem;
          line-height: 64px;
        }
        p{
          font-size: 2rem;
          line-height: 30px;
          padding-bottom: 65px;
        }
      }
      &--image{
        &::before,
        &::after{
          position: absolute;
          content: '';
          width: 100%;
        }
        &::before{
          top: 12px;
          left: 80px;
          height: 170px;
          background: url("/src/assets/shield.svg") no-repeat;
          animation: pulse 2s infinite ease-in-out alternate;
        }
        &::after{
          position: absolute;
          content: '';
          bottom: 35px;
          right: 0;
          width: 282px;
          height: 90px;
          background: url("/src/assets/app-protcar.svg") no-repeat;
          animation: floatY 4s infinite;
        }
      }
    }
    &__check{
      padding-top: 0;
      border-top: 1px solid #282828;
      .row > div{
        padding: 40px 0;
      }
      span{
        padding-left: 24px;
      }
    }
  }
}

.about{
  overflow-x: hidden;
  background-color: $white;
  padding: 56px 0 81px 0;
  &__text{
    p{
      font-weight: $font_medium;
      padding: 5px 20px;
      border: 1px solid rgba(10, 10, 10, 0.287);
      max-width: 117px;
    }
    h2{
      font-size: 2.6rem;
      max-width: 500px;
      line-height: 1.3;
    }
    h6{
      font-size: 1.6rem;
      max-width: 265px;
      color: $color_gray04;
      font-weight: $font_normal;
      line-height: 1.6;
      font-family: 'Inter', sans-serif;
    }
    .btn--associate{
      margin: 25px 0;
    }
  }
  &__info{
    margin-top: 45px;
    width: 100%;
    &--card{
      width: 100%;
      margin-bottom: 10px;
      p{
        font-size: 1.4rem;
        font-weight: $font_normal;
        width: 118px;
      }
      h2{
        font-size: 2.6rem;
      }
      .box,
      .box-year{
        background-color: $color_gray01;
        border-radius: 15px;
        width: 161px;
        padding-left: 22px;
        height: 114px;
      }
      .box-year{
        max-height: 152px;
      }
      .box-image{
        margin-top: -31px;
        width: 156px;
      }
    }
    &--protection{
      background-color: $black;
      border-radius: 15px;
      width: 330px;
      padding: 22px 0 22px 25px;
      .shield{
        margin-bottom: 18px;
        width: 100%;
        max-width: 198px;
        padding: 7.5px 0 7.5px 16px;
        span{
          font-size: 1.4rem;
          font-weight: $font_semibold;
        }
      }
      ul{
        padding: 0;
        padding-left: 7px;
        &:first-child{
          padding-left: 0;
        }
        li{
          font-size: 1.6rem;
          font-weight: $font_normal;
          padding-left: 7px;
          margin-bottom: 24px;
          &:first-child{
            padding-left: 0;
            padding-right: 80px;
          }
        }
        &:last-child{
          li{
            &:first-child{
              padding-right: 91px;
            }
          }
        }
      }
    }
  }

  @include responsive(atLarge){
    padding: 180px 0 140px 0;
    &__text{
      h2{
        font-size: 3.8rem;
      }
      h6{
        font-size: 2rem;
        max-width: 440px;
      }
    }
    &__info{
      max-width: 582px;
      &--card{
        margin-bottom: 22px;
        h2{
          font-size: 3.8rem;
        }
        p{
          width: 100%;
          font-size: 2rem;
        }
        .box,
        .box-year{
          width: 277px;
          height: 151px;
          padding-left: 38px;
        }
        .box-image{
          width: 277px;
          margin-top: -54px;
        }
      }
      &--protection{
        width: 568px;
        padding-left: 35px;
        ul{
          li{
            margin-bottom: 0;
            padding-left: 7px;
            &:first-child{
              padding-left: 0;
            }
          }
        }
      }
    }
  }
}

.benefits{
  background-color: $color_gray01;
  padding-top: 65px;
  h2{
    font-size: 2.6rem;
  }
  p{
    color: $color_gray04;
    max-width: 307px;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 68px;
    font-weight: $font_normal;
  }
  @include responsive(atMedium){
    padding-top: 140px;
    h2{
      font-size: 3.8rem;
    }
    p{
      line-height: 1.7;
      max-width: 580px;
      padding-top: 30px;
      font-size: 2rem;
    }
  }
}

.info{
  background-color: $color_gray01;
  &__card{
    &__club,
    &__price,
    &__protection{
      width: 330px;
      border-radius: 15px;
      margin: 0 auto 24px auto;
      img, h5, p{
        padding: 0 28px 0 20px;
        margin-bottom: 0;
      }
      img{
        padding-top: 20px;
        padding-bottom: 26px;
        max-width: 105px;
      }
      h5{
        padding-bottom: 31px;
        font-weight: $font_semibold;
      }
      p{
        padding-bottom: 37px;
      }
    }
    &__club{
      background-color: $black;
      h5{
        color: $white;
      }
      p{
        color: $color_gray03;
      }
      
    }
    &__price{
      background-color: $primary;
      h5, p{
        color: $black;
      }
    }
    &__protection{
      background-image: url($media + 'associate-mob.png');
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      height: 593px;
      h4{
        max-width: 238px;
        color: $white;
        padding: 40px 0 0 32px;
      }
      .btn--associate{
        max-width: 240px;
        height: 60px;
        margin: 32px 0 0 32px;
        img{
          padding: 9px 0;
        }
        a{
          margin-right: 0;
        }
      }
    }

    @include responsive(atExtraLarge){
      &__club,
      &__price,
      &__protection{
        width: 630px;
        img,h5,p{
          margin: 40px 0 0 40px;
        }
        h5{
          font-size: 3.5rem;
          margin: 40px 0 0 0;
        }
        p{
          font-size: 2rem;
          padding-bottom: 40px;
          max-width: 480px;
        }
      }
      &__protection{
        background-image: url($media + 'associate.png');
        width: 100%;
        height: 322px;
        h4{
          font-size: 3.8rem;
          max-width: 620px;
          line-height: 1.3;
          padding: 68px 0 0 80px;
        }
        .btn--associate{
          margin-left: 80px;
          img{
            margin: 0;
          }
        }
      }
    }
  }
}

.app{
  background-color: $white;
  padding: 160px 0 71px 0;
  margin-top: -100px;
  &__card{
    background-color: $primary;
    border-radius: 15px;
    max-width: 330px;
    h4{
      max-width: 281px;
      margin: 0 auto;
      padding: 35px 0;
    }
    a{
      border: 1px solid rgba(10, 10, 10, 0.24);
      padding: 20px 34px;
      p{
        font-weight: $font_semibold;
        color: $black;
      }
    }
    .application{
      img{
        height: 326px;
        max-width: 102.5%;
        margin: 63px 0 15px 0;
      }
    }
  }
}