@use "../abstracts" as *;

.hero{
  background: linear-gradient(73.28deg, #000000 36.73%, #282828 100%);
  &__banner{
    height: 660px;
    position: relative;
    &--content{
      padding-top: 70px;
      h1{
        width: 100%;
        max-width: 534px;
        color: $white;
      }
      p{
        width: 100%;
        max-width: 402px;
        padding: 35px 0 65px 0;
        color: $white;
        font-size: 2rem;
        line-height: 30px;
      }
    }
  }
}