@use "../abstracts" as *;

.hero{
  overflow-x: hidden !important;
  &__banner{
    margin-bottom: 67px;
    &--content{
      h1{
        width: 100%;
        color: $white;
      }
      p{
        width: 100%;
        max-width: 402px;
        padding: 35px 0 65px 0;
        color: $white;
        font-size: 2rem;
        line-height: 30px;
      }
    }
    &--image{
      width: 100%;
      max-width: 733px;
      position: relative;
      &::before,
      &::after{
        position: absolute;
        content: '';
        width: 100%;
      }
      &::before{
        top: 12px;
        left: 80px;
        height: 170px;
        background: url("/src/assets/shield.svg") no-repeat;
        animation: pulse 3s infinite ease-in-out alternate;
      }
      &::after{
        position: absolute;
        content: '';
        bottom: 35px;
        right: 0;
        width: 282px;
        height: 90px;
        background: url("/src/assets/app-protcar.svg") no-repeat;
        animation: floatY 7s infinite;
      }
    }
  }
}