@mixin responsive($breakpoints) {

  @if $breakpoints == atMedium {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }
  @if $breakpoints == atLarge {
    @media only screen and (min-width: 992px) {
      @content;
    }
  }
  @if $breakpoints == atExtraLarge {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  }
  @if $breakpoints == atExtraMediumLarge {
    @media only screen and (min-width: 1400px) {
      @content;
    }
  }
  @if $breakpoints == atExtraFullLarge {
    @media only screen and (min-width: 1600px) {
      @content;
    }
  }
  @if $breakpoints == ipadPortrait {
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
      @content;
    }
  }
  @if $breakpoints == ipadLandscape {
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
      @content;
    }
  }
  @if $breakpoints == clearFix() {
    &::after {
      content: "";
      clear: both;
      display: table;
    }
  }
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}