$media: "/src/assets/";
// Colors
$white: #ffffff;
$black: #0a0a0a;
$primary: #ffbb00;
$primary_hover: #ffd64b;
$gradient: linear-gradient(222.52deg, #ffc500 -8.56%, #ffd500 114.42%);

$color_gray01: #f4f4f4;
$color_gray02: #d9d9d9;
$color_gray03: #a9a9a9;
$color_gray04: #727272;

// Fonts
$font_normal: 400;
$font_medium: 500;
$font_semibold: 600;
