
$color_white: #ffffff;
$color_black: #231f20;
$color_red: #e11837;
$color_redLight: #cc333e;
$color_redDark: #a01e21;
$color_gray: #858889;
$color_light_gray: #E0E0E0;
$color_grayDark: #55575c;
$color_green: #0AA551;

// Fonts
$font_light: 300;
$font_normal: 400;
$font_medium: 500;
$font_semibold: 600;
$font_bold: 700;
$font_extrabold: 800;
$font_black: 900;
