@use "../abstracts" as *;

footer {
  background: $color_gray01;
  padding: 50px 0 30px 0;
  .infos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .social {
      a {
        height: 48px;
      }
    }
  }
}
