@use "../abstracts" as *;

header{
	padding: 30px 0;
	nav{
		@include flex(row, space-between, center);
		ul{
			display: flex;
			li{
				margin-left: 2.5rem;
				font-size: 1.6rem;
				a{
					color: $color_gray03;
					transition: color .3s ease;
					&:hover{
						color: $white;
					}
				}
				&:first-child{
					margin-left: 0;
				}
			}
		}
	}
}